<li>
	<a href="https://gitlab.com/saberd">
		<i class="fa fa-gitlab" aria-hidden="true"></i>
	</a>
</li>

<li>
	<a href="https://twitter.com/saberd6">
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>

</li>

<li>
	<a href="https://reddit.com/user/saberd6">
		<i class="fa fa-reddit-alien fa-lg" aria-hidden="true"></i>
	</a>

</li>

<li>
	<a href="https://soundcloud.com/user-750961541">
		 <i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i>
	</a>
</li>

<li>
	<a href="{{ .RSSLink }}">
		 <i class="fa fa-rss-square" aria-hidden="true"></i>
	</a>
</li>
